/* Common Shared Styles */
body{
    
  font-family: "Open Sans", sans-serif;
 
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0 ;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;

}
.section-title{
    font-weight: bold;
    font-size: 30px;
    color: #181818;
    text-align: center;

}
/* nav related styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747; 
}
/* Header Related Styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 20px 0 200px;
    display: flex;
    align-items: center;
   
    justify-content: space-between;

}
.profile-pic{
    height: 676;
    width: 584;
}
.banner-title{
    font-size: 45px;
    font-weight: 400;
    color: #181818;
    margin-bottom:0;
}
.banner-header{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
    
}
.banner-content{
    
    max-width: 585px;
}
/* main section styles */
main{
    margin: 130px 230px;
}

/* about section styles */
.about{
    
    padding: 130px 157px;
    background-color: #FFF8F3;
}
.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}
.about-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info-container .info-title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.about-info-container .info-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

/* skills related styles */

    

#what-i-do-description{
    padding: 50px 150px; 
}
.what-i-do-item{
    display: flex;
    gap:24px;
    
}
.what-i-do-skill {
    padding: 33px;

    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08 );
    
}
/* Resume styles section */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 70px;
    margin: 30px;
}
.resume-item-description, .resume-institute-info{
    color: #757575 ;
    font-size: 16px;
}
.resume-item-title{
    color: #474747;
    margin-bottom: 5px;
}
hr{
    margin: 30px 30px 30px 0 ;
}
.resume-institute-info{
    margin-top: 0;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

