/* Common Shared Styles */
body{
    
  font-family: "Open Sans", sans-serif;
 
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0 ;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;

}
/* nav related styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747; 
}
/* Header Related Styles */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;

}
.profile-pic{
    height: 676;
    width: 584;
}
