/* Common Shared Styles */
body{
    
  font-family: "Open Sans", sans-serif;
 
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0 ;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;

}
.section-title{
    font-weight: bold;
    font-size: 30px;
    color: #181818;
    text-align: center;

}
/* nav related styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747; 
}
/* Header Related Styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 20px 0 200px;
    display: flex;
    align-items: center;
   
    justify-content: space-between;

}
.profile-pic{
    height: 676;
    width: 584;
}
.banner-title{
    font-size: 45px;
    font-weight: 400;
    color: #181818;
    margin-bottom:0;
}
.banner-header{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
    
}
.banner-content{
    
    max-width: 585px;
}
/* main section styles */


/* about section styles */
.about{
    margin: 130px 230px;
    padding: 130px 157px;
    background-color: #FFF8F3;
}
.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}